/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom rules: */

html, body {
  font-family: Inter;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 4vw;
  padding: 1rem 0 2rem 0;
}

p {
  padding: 0.5rem 0 1rem 0;
  line-height: 1.7rem;
  text-align: justify;
}

p>img:only-child {
  max-width: 100%;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

hr {
  margin: 1rem 0 2rem 0;
  height: 0.15rem;
  background-color: #ccc;
  border: none;
}

blockquote {
  padding: 0.5rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  box-shadow: inset 0.15rem 0 0 #ccc;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0 0.5rem 0.5rem 0;
}

blockquote>*:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

a {
  color: #1e88e5;
}

table {
  margin: 0.5rem 0 1.5rem 0;
  background-color: #eee;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.5rem 0;
}

table th {
  font-weight: 700;
  padding: 0.5rem 1rem;
}

table td {
  padding: 0.5rem 1rem;
}

h1 {
  padding: 2rem 0 1rem 0;
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  padding: 1rem 0 1rem 0;
  font-weight: 700;
  font-size: 2.25rem;
}

h3 {
  padding: 1rem 0 1rem 0;
  font-weight: 700;
  font-size: 2rem;
}

h4 {
  padding: 1rem 0 1rem 0;
  font-weight: 700;
  font-size: 1.75rem;
}

h5 {
  padding: 1rem 0 1rem 0;
  font-weight: 700;
  font-size: 1.5rem;
}

h6 {
  padding: 1rem 0 1rem 0;
  font-weight: 700;
  font-size: 1.25rem;
}

code {
  font-family: JetBrains Mono;
}

pre {
  padding: 0.5rem 0 1.5rem 0;
}

ul {
  padding: 0.5rem 0 1.5rem 1.5rem;
  list-style-type: disc;
  list-style-position: outside;
}

ol {
  padding: 0.5rem 0 1.5rem 1.5rem;
  list-style-type: decimal;
  list-style-position: outside;
}

.interactive-widgets-disconnected {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  z-index: 42;
}

.interactive-widgets-disconnected div {
  background-color: #f44336;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  border-radius: 1.75rem;
  padding: 0.25rem 1.1rem 0.25rem 0.85rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.125), 0 3px 25px rgba(0, 0, 0, 0.125), 0 3px 12.5px rgba(0, 0, 0, 0.125);
}

.interactive-widgets-disconnected div svg {
  width: 3rem;
  height: 3rem;
  fill: #fff;
  margin-right: 0.35rem;
}

.interactive-widgets-disconnected div span {
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  margin-left: 0.35rem;
}

.interactive-widgets-box {
  background-color: #eee;
  border-radius: 0.5rem;
  box-sizing: border-box;
  position: relative;
}

.interactive-widgets-box.fixed {
  /* since body has 4vw margin it has (100vw - 8vw) width */
  /* to get height for 16:9 ratio: 92vw / 16 * 9 = 43.578947368vw */
  height: 43.578947368vw;
}

.interactive-widgets-box.min-content {
  /* since body has 4vw margin it has (100vw - 8vw) width */
  /* to get height for 16:9 ratio: 92vw / 16 * 9 = 43.578947368vw */
  max-height: 43.578947368vw;
}

.interactive-widgets-box>* {
  display: none;
}

.interactive-widgets-box>*.show {
  display: block;
}

.interactive-widgets-caption {
  margin-top: 0.5rem;
  text-align: center;
}

.interactive-widgets-box .buttons {
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.125), 0 2px 7px rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.interactive-widgets-box>.buttons.show {
  display: flex;
}

.interactive-widgets-box .buttons button {
  display: block;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: box-shadow 0.125s ease;
}

.interactive-widgets-box .buttons button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.125), 0 3px 15px rgba(0, 0, 0, 0.125);
}

.interactive-widgets-box .buttons button:disabled {
  background-color: rgba(0, 0, 0, 0.0825);
  box-shadow: none;
  cursor: unset;
}

.interactive-widgets-box .buttons .spacer {
  align-self: center;
  width: 1px;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.125);
}

.interactive-widgets-box .error {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.interactive-widgets-box>.error.show {
  display: flex;
}

.interactive-widgets-box svg {
  width: 2rem;
  height: 2rem;
  fill: #000;
  margin-right: 0.35vw;
}

.interactive-widgets-box span {
  color: #000;
  font-weight: 700;
  margin-left: 0.35vw;
}

.interactive-widgets-button {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 2vw;
  row-gap: 2vw;
  padding: 2vw;
}

.interactive-widgets-button.empty {
  grid-template-rows: min-content;
}

.interactive-widgets-button .buttons {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.interactive-widgets-button .command {
  font-family: JetBrains Mono;
  line-height: 1.25rem;
  align-self: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.interactive-widgets-button .outputs {
  line-height: 1.25rem;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  overflow-y: auto;
}

.interactive-widgets-button .outputs .message {
  font-style: italic;
  color: #888;
}

.interactive-widgets-button .outputs .error {
  font-style: italic;
  color: #ee0000;
}

.interactive-widgets-button .outputs .stdout, .interactive-widgets-button .outputs .stderr {
  font-family: JetBrains Mono;
}

.interactive-widgets-button .outputs .stderr {
  color: #ee0000;
}

.interactive-widgets-button .error {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.interactive-widgets-image-viewer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.interactive-widgets-terminal {
  font-family: JetBrains Mono;
}

.interactive-widgets-terminal .terminal.xterm {
  display: block;
  padding: 2vw;
}

.interactive-widgets-text-editor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 2vw;
  row-gap: 2vw;
  padding: 2vw;
}

.interactive-widgets-text-editor .buttons {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: start;
}

.interactive-widgets-text-editor .editor {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.interactive-widgets-text-editor .error {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.interactive-widgets-text-viewer {
  overflow-y: auto;
}

.interactive-widgets-text-viewer .viewer {
  box-sizing: border-box;
  padding: 0.5rem;
  grid-template-columns: min-content 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  font-family: JetBrains Mono;
  line-height: 1.35rem;
  overflow-x: hidden;
}

.interactive-widgets-text-viewer>.viewer.show {
  display: grid;
}

.interactive-widgets-text-viewer .viewer .line-number {
  padding: 0 1rem 0 0.75rem;
  text-align: right;
  opacity: 0.25;
}

.interactive-widgets-text-viewer .error {
  height: 100%;
}

/* body>.navigation {
  margin: 1rem 0;
  padding: 0 1rem;
  box-shadow: inset 0.15rem 0 0 #ccc;
}

body>.navigation .topics {
  margin: 0 0 1rem 0;
}

body>.navigation :last-child {
  margin: 0;
}

body>.navigation .topics .label {
  color: #aaa;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0 0.25rem 0;
}

body>.navigation .topics>.link {
  display: block;
  color: #000;
  margin: 0.25rem 0;
  padding: 0.5rem 0.5rem 0.5rem 2.25rem;
  font-weight: 700;
  text-decoration: none;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: 0.25rem 0.3rem;
}

body>.navigation .topics>.link:hover {
  text-decoration: underline;
}

body>.navigation .topics .breadcrumbs {
  margin: 0.5rem 0 0.5rem 0;
  display: flex;
  flex-direction: row;
}

body>.navigation .topics .breadcrumbs .link, body>.navigation .topics .breadcrumbs .text {
  font-size: 0.75rem;
  text-decoration: none;
  color: #aaa;
}

body>.navigation .topics .breadcrumbs .link:hover {
  text-decoration: underline;
  color: #000;
}

body>.navigation .topics .breadcrumbs .separator {
  height: 0.75rem;
  opacity: 0.35;
  margin: 0 0.25rem;
} */

@media (min-width: calc(720px + 8vw)) {
  body {
    width: 720px;
    margin: 0 auto;
  }
  /* body .navigation {
    position: fixed;
    right: 0;
  } */
  .interactive-widgets-box.fixed {
    /* to get height for 16:9 ratio: 720px / 16 * 9 = 381.176470588px */
    height: 381.176470588px;
  }
  .interactive-widgets-box.min-content {
    /* to get height for 16:9 ratio: 720px / 16 * 9 = 381.176470588px */
    max-height: 381.176470588px;
  }
  .interactive-widgets-box svg {
    margin-right: 0.35rem;
  }
  .interactive-widgets-box span {
    margin-left: 0.35rem;
  }
  .interactive-widgets-button {
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 1rem;
  }
  .interactive-widgets-terminal .terminal.xterm {
    padding: 1rem;
  }
  .interactive-widgets-text-editor {
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 1rem;
  }
}
